<div class="kanban-wrap ">
  <div class="kanban-col" *ngFor="let col of data; let i = index">
    <div class="kanban-col-content">
      <div class="kanban-col-header">
        <div class="kanban-col-title">
          {{col.name}} <span>{{col.blocks.length}}</span>
        </div>
      </div>
      <div class="kanban-list" dragula="CARDS" [(dragulaModel)]="col.blocks">
        <div class="kanban-item" *ngFor="let item of col.blocks" >
          <div class="kanban-item-marker">
            <div class="kanban-item-author">
              Добавили вы
            </div>
          </div>
          <div class="kanban-item-title" [innerHTML]="replaceLinks(item.title)">

          </div>
          <div class="kanban-item-add-info">
            <div class="kanban-item-add-info-e">
              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44"> <defs> <style> .cls-1 { fill-rule: evenodd; } </style> </defs> <path id="Time" class="cls-1" d="M278,1419a22,22,0,1,0,22,22A22.025,22.025,0,0,0,278,1419Zm0,41a19,19,0,1,1,19-19A19,19,0,0,1,278,1460Zm10-20h-9v-11a1.5,1.5,0,0,0-3,0v14h12A1.5,1.5,0,0,0,288,1440Z" transform="translate(-256 -1419)"/></svg>
              29 авг 16:00
            </div>
            <div class="kanban-item-add-info-e">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="459px" height="459px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve"><g><g id="check-box-outline"><path d="M124.95,181.05l-35.7,35.7L204,331.5l255-255l-35.7-35.7L204,260.1L124.95,181.05z M408,408H51V51h255V0H51 C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V204h-51V408z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
              1 / 3
            </div>
          </div>
          <div class="kanban-item-button-link">
            <button>Перейти к выполнению</button>
          </div>
        </div>
      </div>

      <div class="wrap-create-kanban-item">
        <div class="create-kanban-item">
          <div class="create-kanban-item-input">
            <textarea rows="2" placeholder="Что нужно сделать?"></textarea>
          </div>

          <div class="create-kanban-item-options">
            <div class="create-kanban-item-option">
              <div class="create-kanban-item-option-label">
                <div class="create-kanban-item-option-ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44"> <defs> <style> .cls-1 { fill-rule: evenodd; } </style> </defs> <path id="Time" class="cls-1" d="M278,1419a22,22,0,1,0,22,22A22.025,22.025,0,0,0,278,1419Zm0,41a19,19,0,1,1,19-19A19,19,0,0,1,278,1460Zm10-20h-9v-11a1.5,1.5,0,0,0-3,0v14h12A1.5,1.5,0,0,0,288,1440Z" transform="translate(-256 -1419)"/></svg>
                </div>
                <div class="create-kanban-item-option-name">
                  Дедлайн
                </div>
              </div>
            </div>
          </div>

          <div class="wrap-create-kanban-item-deadline">
            <div class="create-kanban-item-deadline">
              <div class="create-kanban-item-deadline-input">
                <mat-form-field appearance="fill">
                  <mat-label>Дата</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="create-kanban-item-deadline-input">
                <mat-form-field appearance="fill">
                  <mat-label>Время</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
            </div>
            <div class="create-kanban-item-deadline-buttons">
              <button class="create-kanban-item-deadline-button-reset">Cбросить</button>
              <button class="create-kanban-item-deadline-button">Сохранить</button>
            </div>
          </div>

          <div class="create-kanban-item-footer">
            <div class="create-kanban-item-buttons">
              <button class="flex-center create-kanban-item-button-submit">Добавить</button>
              <button class="flex-center create-kanban-item-button-in-library">Взять готовое</button>
            </div>
          </div>
<!--          <div class="create-kanban-item-plus">-->
<!--            <svg height="24" width="24" viewBox="0 0 24 24" aria-label="Создать пин" role="img" class="gUZ lZJ"><path d="M17.75 13.25h-4.5v4.5a1.25 1.25 0 0 1-2.5 0v-4.5h-4.5a1.25 1.25 0 0 1 0-2.5h4.5v-4.5a1.25 1.25 0 0 1 2.5 0v4.5h4.5a1.25 1.25 0 0 1 0 2.5M12 0C5.37 0 0 5.37 0 12s5.37 12 12 12 12-5.37 12-12S18.63 0 12 0"></path></svg>-->
<!--          </div>-->
        </div>
      </div>



      <div class="kanban-col-create" (clickOutside)="closeCreate(i)">
        <div [class.hideBlock]="flagCreate[i] === 1" class="kanban-col-create-button"
        (click)="openCreate(i)">
          <svg width="16" height="16" viewBox="0 0 24 24" focusable="false" role="presentation"><path d="M13 11V3.993A.997.997 0 0 0 12 3c-.556 0-1 .445-1 .993V11H3.993A.997.997 0 0 0 3 12c0 .557.445 1 .993 1H11v7.007c0 .548.448.993 1 .993.556 0 1-.445 1-.993V13h7.007A.997.997 0 0 0 21 12c0-.556-.445-1-.993-1H13z" fill="currentColor" fill-rule="evenodd"></path></svg>
          Добавить задачу
        </div>
        <div [class.hideBlock]="flagCreate[i] === 0" class="kanban-col-create-form">
          <textarea tabindex="-1" id="kanban-create-textarea-{{i}}" (keydown)="inputCreateCol(i, $event)" rows="3" placeholder="Что нужно сделать?"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <button class="ez-button" (click)="test()">Вставить</button>
</div>
