@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import "src/theme.scss";


.x{
  display: flex;
  align-items: center;
}

.container{
  margin-top: 40px;
  padding-bottom: 60px;
}

.main-name{
  color: #1DA1F2;
  font-family: 'Pacifico', cursive;
  font-size: 27px;
  font-weight: 700;
  margin-right: 12px;
}
.add-name{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #71747A;
  font-size: 22px;
}

.list-options{
  padding: 25px 15px;
}

.wrap-option-translate{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.option-translate{
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  svg{
    margin-right: 10px;
  }
  padding: 9px 18px;
  border-radius: 50px;
}

.active{
  color: #1DA1F2;
  fill: #1DA1F2;
  background: rgba(29, 161, 242, 0.1);
}

.translator{
  width: 100%;
  min-height: 200px;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  //overflow: hidden;
}

.translator-header-left-name, .translator-header-right-name{
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

.translator-header{
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: center;
}

.translator-header-arrow{
  transform: rotate(180deg);
}
.translator-text{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start !important;
}

.translator-input{
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 200px;
  height: 100%;
  border-right: 1px solid #e6e6e6;
  justify-content: flex-start;
  align-items: flex-start;
  textarea{
    outline: none;
    border: none;
    font-size: 20px;
    padding: 20px 20px;
    resize: none;
    width: 100%;
  }
}

.translator-output{
  min-height: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  textarea{
    outline: none;
    border: none;
    font-size: 20px;
    padding: 20px 20px;
    resize: none;
    width: 100%;
    line-height: 1.5;
  }
}

.output-data{
  font-size: 20px;
  padding: 20px 20px;
  line-height: 1.5;
}

.word-select{
  border-radius: 2px;
  cursor: pointer;
  background: rgba(29, 161, 242, 0.1);
}

.word{
  position: relative;
  border-radius: 3px;
  .word-select-options{
    position: absolute;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    bottom: -5px;
    right: 0;
    transform: translateY(100%) ;
    padding: 5px 0;
    border-radius: 3px;
    z-index: 1;
    background: white;
    max-width: 250px;
    min-width: 200px;

    .word-select-options-e{
      width: 100%;
      cursor: pointer;
      padding: 6px 10px;
      &:hover{
        background: #fafafa;
      }
    }
  }
}

.word-change{
  background: rgba(29, 161, 242, 0.1);
}

.footer-trans{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
}

textarea{
  line-height: 1.5;
}

.acceptChange{
  cursor: pointer;
  background: #8df0bb;
}
.variableChange{
  cursor: pointer;
  background: #fdff7a;
}

.legend-title{
  font-weight: 600;
  margin-bottom: 10px;
}
.legend-block-color{
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 5px;
}
.legend-block{
  margin-bottom: 5px;
}
.wrap-translator{
  margin-top: 20px;
}

.disabled{
  opacity: 0.5;
}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {

}

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
  .translator-text{
    flex-wrap: wrap !important;
  }
  .translator-input {
    width: 100%;
    flex: none !important;
    border-bottom: 1px solid #e6e6e6;
  }
}

// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {

}

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {

}
