.wrap-user-avatar{
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.user-avatar-template{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  //background-image: linear-gradient(138deg, rgb(183, 38, 255), rgb(70, 36, 242));
  font-size: 100%;
  color: white;
  text-transform: uppercase;
}

.my-board-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #FFC619 0%, #FF7919 100%);
  color: white;
  fill: white;
  svg{
    width: 50%;
    height: 50%;
  }
}

.wrap-user{
  //font-size: 30px;
}
